/*Body style*/
body {
    background-color: bisque;
}
/* style for img inside the button*/
button img {
    width:100px;
    height: auto;
    display: block;
    margin: 0 auto
}

/*style for button*/
button { 
    display: inline-block;
    padding:5px;
    border:none;
    background: none;
}

/*Center the rows*/
#row1, #row2 {
    display:flex
    justify-content:center;
    margin:10px 0;
}

/* add responsiveness*/
@media (max-width)